# 01. Importing Data

In [1]:
# This file is exploring the new data set for Iowas Liquor Sales.

In [2]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\William Inglish\Project 6 Liquor Sales'

df_sales = pd.read_csv(os.path.join(path,'02 Data', 'Original', 'IowaLiquorSales.csv'), index_col=False)

## Exploring Data

In [4]:
df_sales.head()

,invoice_and_item_number,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,...,item_number,item_description,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons
0,INV-33179700135,2021-01-04,2576,Hy-Vee Wine and Spirits / Storm Lake,1250 N Lake St,Storm Lake,50588.0,POINT (-95.200758 42.65318400000001),11.0,BUENA VIST,...,64870,Fireball Cinnamon Whiskey,48,100,0.90,1.35,48,64.80,4.8,1.26
1,INV-33196200106,2021-01-04,2649,Hy-Vee #3 / Dubuque,400 Locust St,Dubuque,52001.0,POINT (-90.666497 42.49721900000001),31.0,DUBUQUE,...,65200,Tequila Rose Liqueur,12,750,11.50,17.25,4,69.00,3.0,0.79
2,INV-33184300011,2021-01-04,2539,Hy-Vee Food Store / Iowa Falls,640 S. Oak,Iowa Falls,50126.0,POINT (-93.262364 42.508752),42.0,HARDIN,...,38008,Smirnoff 80prf PET,6,1750,14.75,22.13,6,132.78,10.5,2.77
3,INV-33184100015,2021-01-04,4024,Wal-Mart 1546 / Iowa Falls,840 S Oak,Iowa Falls,50126.0,POINT (-93.262446 42.503407),42.0,HARDIN,...,36648,Caliber Vodka,12,750,3.31,4.97,12,59.64,9.0,2.37
4,INV-33174200025,2021-01-04,5385,Vine Food & Liquor,2704 Vine St.,West Des Moines,50265.0,POINT (-93.741511 41.580206),77.0,POLK,...,4626,Buchanan Deluxe 12YR,12,750,20.99,31.49,2,62.98,1.5,0.39

In [5]:
df_sales.shape

(2805307, 24)

In [6]:
df_sales.columns

Index(['invoice_and_item_number', 'date', 'store_number', 'store_name',
       'address', 'city', 'zip_code', 'store_location', 'county_number',
       'county', 'category', 'category_name', 'vendor_number', 'vendor_name',
       'item_number', 'item_description', 'pack', 'bottle_volume_ml',
       'state_bottle_cost', 'state_bottle_retail', 'bottles_sold',
       'sale_dollars', 'volume_sold_liters', 'volume_sold_gallons'],
      dtype='object')

In [7]:
df_sales.dtypes

invoice_and_item_number     object
date                        object
store_number                 int64
store_name                  object
address                     object
city                        object
zip_code                   float64
store_location              object
county_number              float64
county                      object
category                   float64
category_name               object
vendor_number              float64
vendor_name                 object
item_number                  int64
item_description            object
pack                         int64
bottle_volume_ml             int64
state_bottle_cost          float64
state_bottle_retail        float64
bottles_sold                 int64
sale_dollars               float64
volume_sold_liters         float64
volume_sold_gallons        float64
dtype: object

In [8]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2805307 entries, 0 to 2805306
Data columns (total 24 columns):
 #   Column                   Dtype
---  ------                   -----
 0   invoice_and_item_number  object
 1   date                     object
 2   store_number             int64
 3   store_name               object
 4   address                  object
 5   city                     object
 6   zip_code                 float64
 7   store_location           object
 8   county_number            float64
 9   county                   object
 10  category                 float64
 11  category_name            object
 12  vendor_number            float64
 13  vendor_name              object
 14  item_number              int64
 15  item_description         object
 16  pack                     int64
 17  bottle_volume_ml         int64
 18  state_bottle_cost        float64
 19  state_bottle_retail      float64
 20  bottles_sold             int64
 21  sale_dollars             float64
 22  volume_sold_liters       float64
 23  volume_sold_gallons      float64
dtypes: float64(9), int64(5), object(10)
memory usage: 513.7+ MB

In [9]:
df_sales.describe()

,store_number,zip_code,county_number,category,vendor_number,item_number,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons
count,2.805307e+06,2.805165e+06,2.805165e+06,2.805307e+06,2.805303e+06,2.805307e+06,2.805307e+06,2.805307e+06,2.805307e+06,2.805307e+06,2.805307e+06,2.805307e+06,2.805307e+06,2.805307e+06
mean,4.137796e+03,5.124374e+04,5.712714e+01,1.055993e+06,2.871833e+02,5.456197e+04,1.194263e+01,8.218059e+02,1.132500e+01,1.698823e+01,1.185837e+01,1.624497e+02,9.383131e+00,2.473141e+00
std,1.265248e+03,9.906550e+02,2.732875e+01,1.039322e+05,1.415585e+02,9.185349e+04,7.846285e+00,5.254814e+02,1.103231e+01,1.654628e+01,3.566817e+01,5.871846e+02,4.120727e+01,1.088601e+01
min,2.106000e+03,5.000200e+04,1.000000e+00,1.011000e+06,3.300000e+01,2.580000e+02,1.000000e+00,2.000000e+01,6.600000e-01,9.900000e-01,1.000000e+00,1.340000e+00,2.000000e-02,0.000000e+00
25%,2.644000e+03,5.031400e+04,3.100000e+01,1.012100e+06,2.050000e+02,2.712500e+04,6.000000e+00,3.750000e+02,6.000000e+00,9.000000e+00,3.000000e+00,4.200000e+01,1.500000e+00,3.900000e-01
50%,4.186000e+03,5.104000e+04,6.200000e+01,1.031200e+06,2.600000e+02,3.991600e+04,1.200000e+01,7.500000e+02,8.990000e+00,1.349000e+01,6.000000e+00,8.892000e+01,4.500000e+00,1.180000e+00
75%,5.244000e+03,5.230200e+04,7.700000e+01,1.062500e+06,4.200000e+02,6.525100e+04,1.200000e+01,1.000000e+03,1.400000e+01,2.100000e+01,1.200000e+01,1.665000e+02,1.050000e+01,2.770000e+00
max,9.049000e+03,5.722200e+04,9.900000e+01,1.901200e+06,9.780000e+02,9.999950e+05,1.200000e+02,5.250000e+03,2.098940e+03,3.148410e+03,1.320000e+04,2.509320e+05,1.320000e+04,3.487070e+03

In [10]:
# Finding quantiles of sales

sales_q1 = df_sales['sale_dollars'].quantile(0.25)
sales_q2 = df_sales['sale_dollars'].quantile(0.50)
sales_q3 = df_sales['sale_dollars'].quantile(0.75)

# Getting the standard deviation, mean, and the upper and lower bounds

sales_std = df_sales['sale_dollars'].std()
sales_mean = df_sales['sale_dollars'].mean()
sales_upper = sales_mean + (2 * sales_std)
sales_lower = sales_mean - (2 * sales_std)

In [11]:
print('Q1:',sales_q1, '\nQ2:', sales_q2, '\nQ3:', sales_q3)
print('STD:', sales_std, '\nMean:', sales_mean, '\nUpper Bound:' , sales_upper, '\nLower Bound:' , sales_lower)

Q1: 42.0
Q2: 88.92
Q3: 166.5
STD: 587.1846395914624
Mean: 162.44968686136653
Upper Bound: 1336.8189660442913
Lower Bound: -1011.9195923215583

In [12]:
# Getting a count of outliers above the upper bound

df_sales[(df_sales['sale_dollars'] > sales_upper)].count()

invoice_and_item_number    28622
date                       28622
store_number               28622
store_name                 28622
address                    28617
city                       28617
zip_code                   28617
store_location             25678
county_number              28617
county                     28617
category                   28622
category_name              28622
vendor_number              28621
vendor_name                28621
item_number                28622
item_description           28622
pack                       28622
bottle_volume_ml           28622
state_bottle_cost          28622
state_bottle_retail        28622
bottles_sold               28622
sale_dollars               28622
volume_sold_liters         28622
volume_sold_gallons        28622
dtype: int64

# 02. Missing Values and Duplicates

In [13]:
df_sales.isnull().sum()

invoice_and_item_number         0
date                            0
store_number                    0
store_name                      0
address                       142
city                          142
zip_code                      142
store_location             330335
county_number                 142
county                        142
category                        0
category_name                   0
vendor_number                   4
vendor_name                     4
item_number                     0
item_description                0
pack                            0
bottle_volume_ml                0
state_bottle_cost               0
state_bottle_retail             0
bottles_sold                    0
sale_dollars                    0
volume_sold_liters              0
volume_sold_gallons             0
dtype: int64

Will want to look further into the store_location aka the geolocation whenever I visualize.

In [14]:
# Checking for duplicates
Duplicate = df_sales[df_sales.duplicated()]
Duplicate

Empty DataFrame
Columns: [invoice_and_item_number, date, store_number, store_name, address, city, zip_code, store_location, county_number, county, category, category_name, vendor_number, vendor_name, item_number, item_description, pack, bottle_volume_ml, state_bottle_cost, state_bottle_retail, bottles_sold, sale_dollars, volume_sold_liters, volume_sold_gallons]
Index: []

[0 rows x 24 columns]

No Duplicates records, so no transformation is needed.

# 03. Changing Names

In [15]:
# Renaming columns for legibility
df_sales.rename(columns = {'category' : 'category_code', 'county' : 'county_name', 'pack' : 'package_size'}, inplace = True)

In [16]:
df_sales.columns

Index(['invoice_and_item_number', 'date', 'store_number', 'store_name',
       'address', 'city', 'zip_code', 'store_location', 'county_number',
       'county_name', 'category_code', 'category_name', 'vendor_number',
       'vendor_name', 'item_number', 'item_description', 'package_size',
       'bottle_volume_ml', 'state_bottle_cost', 'state_bottle_retail',
       'bottles_sold', 'sale_dollars', 'volume_sold_liters',
       'volume_sold_gallons'],
      dtype='object')

# 04. Changing Datatypes

In [17]:
# Some reason the zip code is a float, I am changing it to an Int64
df_sales['zip_code'].head(30)

0     50588.0
1     52001.0
2     50126.0
3     50126.0
4     50265.0
5     50665.0
6     52349.0
7     52040.0
8     50265.0
9     52761.0
10    50322.0
11    50588.0
12    52040.0
13    52405.0
14    52732.0
15    52404.0
16    50265.0
17    51450.0
18    52404.0
19    50588.0
20    50266.0
21    50461.0
22    52732.0
23    52761.0
24    50265.0
25    52211.0
26    50317.0
27    52404.0
28    52402.0
29    52726.0
Name: zip_code, dtype: float64

In [18]:
# Chaning datatype

df_sales['zip_code'] = df_sales['zip_code'].astype('Int64')
df_sales['zip_code'].dtype

Int64Dtype()

In [19]:
#Verifying

df_sales['zip_code'].head()

0    50588
1    52001
2    50126
3    50126
4    50265
Name: zip_code, dtype: Int64

In [20]:
# Some reason the county number is a float, I am changing it to an Int64

df_sales['county_number'].head(30)

0     11.0
1     31.0
2     42.0
3     42.0
4     77.0
5     12.0
6      6.0
7     31.0
8     77.0
9     70.0
10    77.0
11    11.0
12    31.0
13    57.0
14    23.0
15    57.0
16    77.0
17    81.0
18    57.0
19    11.0
20    77.0
21    66.0
22    23.0
23    70.0
24    77.0
25    79.0
26    77.0
27    57.0
28    57.0
29    82.0
Name: county_number, dtype: float64

In [21]:
# Changing datatype of the rest of the columns

df_sales['county_number'] = df_sales['county_number'].astype('Int64')
df_sales['category_code'] = df_sales['category_code'].astype('Int64')
df_sales['vendor_number'] = df_sales['vendor_number'].astype('Int64')

#Verifying

df_sales[['county_number', 'category_code', 'vendor_number']].head()

   county_number  category_code  vendor_number
0             11        1081600            421
1             31        1081200            300
2             42        1031100            260
3             42        1031100             55
4             77        1012200            260

In [22]:
#Verifying all wrangling
df_sales.shape

(2805307, 24)

In [23]:
df_sales.dtypes

invoice_and_item_number     object
date                        object
store_number                 int64
store_name                  object
address                     object
city                        object
zip_code                     Int64
store_location              object
county_number                Int64
county_name                 object
category_code                Int64
category_name               object
vendor_number                Int64
vendor_name                 object
item_number                  int64
item_description            object
package_size                 int64
bottle_volume_ml             int64
state_bottle_cost          float64
state_bottle_retail        float64
bottles_sold                 int64
sale_dollars               float64
volume_sold_liters         float64
volume_sold_gallons        float64
dtype: object

In [24]:
# Formatting county_name to match json file

df_sales['county_name'] = df_sales['county_name'].str.title()
df_sales.head()

,invoice_and_item_number,date,store_number,store_name,address,city,zip_code,store_location,county_number,county_name,...,item_number,item_description,package_size,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons
0,INV-33179700135,2021-01-04,2576,Hy-Vee Wine and Spirits / Storm Lake,1250 N Lake St,Storm Lake,50588,POINT (-95.200758 42.65318400000001),11,Buena Vist,...,64870,Fireball Cinnamon Whiskey,48,100,0.90,1.35,48,64.80,4.8,1.26
1,INV-33196200106,2021-01-04,2649,Hy-Vee #3 / Dubuque,400 Locust St,Dubuque,52001,POINT (-90.666497 42.49721900000001),31,Dubuque,...,65200,Tequila Rose Liqueur,12,750,11.50,17.25,4,69.00,3.0,0.79
2,INV-33184300011,2021-01-04,2539,Hy-Vee Food Store / Iowa Falls,640 S. Oak,Iowa Falls,50126,POINT (-93.262364 42.508752),42,Hardin,...,38008,Smirnoff 80prf PET,6,1750,14.75,22.13,6,132.78,10.5,2.77
3,INV-33184100015,2021-01-04,4024,Wal-Mart 1546 / Iowa Falls,840 S Oak,Iowa Falls,50126,POINT (-93.262446 42.503407),42,Hardin,...,36648,Caliber Vodka,12,750,3.31,4.97,12,59.64,9.0,2.37
4,INV-33174200025,2021-01-04,5385,Vine Food & Liquor,2704 Vine St.,West Des Moines,50265,POINT (-93.741511 41.580206),77,Polk,...,4626,Buchanan Deluxe 12YR,12,750,20.99,31.49,2,62.98,1.5,0.39

## Exporting Data

In [25]:
df_sales.to_csv(os.path.join(path, '02 Data', 'Prepared', 'Sales_Wrangled.csv'))